<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<!-- LocalDB connection; Initial Catalog is VideotekaDB created by scripts in db/ -->
	<add name="VideotekaDB" connectionString="Server=(localdb)\\MSSQLLocalDB;Database=VideotekaDB;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
